* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 7fr;
    background-image: url(./img/booksbackground.jpg);
}

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    gap: 2rem;
    background-color: rgb(254, 255, 213);
    border-radius: 20px;

    & .svg {
        height: 4rem;
    }

    > button {
        min-height: 10vh;
        min-width: 10vw;
        background-color: rgb(201, 255, 223);
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: rgb(254, 255, 213);
    gap: 3vw;
    margin: 0 2rem 2rem 2rem;
    padding: 2rem;
    border-radius: 20px;
}

.books {
    background: linear-gradient(45deg, rgb(237, 211, 255), rgb(255, 211, 239));
    border-radius: 20px;
    height: max(250px, 25vh);
    padding: 3vh;
    box-shadow: 5px 5px 13px -3px #1BF8FC; 
}

.books h2, .books h3 {
    text-align: center;
}

.book-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: stretch;
    gap: 1vw;
}

button {
    height: 2rem;
    background-color: rgb(201, 255, 223);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(120, 255, 174);
}

dialog {
    position: absolute;
    top: 15vh;
    left: 0;
    margin-left: auto; 
    margin-right: auto; 
    min-width: 300px;
    height: 50vh;
    padding: 1vw 2vw;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}

dialog > h2 {
    align-self: center;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.radio-btn-container {
    width: 20vw;
    display: flex;
    justify-content: space-around;
}

button[type="submit"] {
    width: 10vw;
    margin: 5vh auto 0 auto;
    background-color: rgb(201, 227, 255);
}

button[type="submit"]:hover {
    background-color: rgb(80, 164, 255);
}

label {
    flex: 1 1 0;
    text-align: center;
}

input[type]:not(input[type="radio"]) {
    padding: 0.5vw;
    width: 20vw;
}

#dialog::backdrop {
    background: linear-gradient(45deg, aquamarine, pink);
    opacity: 0.6;
}

footer {
    margin-top: 1rem;
    text-align: center;
}